@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<div class="Div1">
    <img class="homeImg" src="http://tinyurl.com/lf-suhbg" />
</div>
<div class="div1">
    <span class="doctor">10th Doctor</span>
    <p></p>
    <span>Oh, yes. Harmless is just the word: that's why I like it! Doesn't kill, doesn't wound, doesn't maim.
         But I'll tell you what it does do: it is very good at opening doors! Don't you think she looks tired? 
        Please, when Torchwood comes to write my complete history, don't tell people I travelled through time and space with her mother! 
        It is! It's the city of New New York! Strictly speaking, it's the fifteenth New York since the original, 
        so that makes it New-New-New-New-New-New-New-New-New-New-New-New-New-New-New New York.</span>
</div>
<div class="div2">
    <span class="doctor">11th Doctor</span>
    <p></p>
    <span>There's something that doesn't make sense. Let's go and poke it with a stick.
         No idea. Just do what I do: hold tight and pretend it's a plan. Thank you, Strax. 
        And if I'm ever in need of advice from a psychotic potato dwarf, you'll certainly be the first to know. 
        Frightened people. Give me a Dalek any day. Look at me. No plans, no backup, no weapons worth a damn. 
        Oh, and something else I don't have: anything to lose. So, if you're sitting up there with your silly little spaceships
         and your silly little guns and you've any plans on taking the Pandorica tonight; just remember who's standing in your way. 
        Remember every black day I ever stopped you and then, and then, do the smart thing. Let somebody else try first.</span> 
</div>
<div class="div3">
    <span class="doctor">12th Doctor</span>
    <p></p>
    <span>Kidneys! I have kidneys. And I don't like the colour. Tell me, am I a good man? 
        Kidneys! I have kidneys. And I don't like the colour. I've made many mistakes... and it's about time that I did something 
        about that. Tell me, Am I a good man? I just have one question… do you know how to fly this thing? I've made many mistakes...
         and it's about time that I did something about that. I just have one question… do you know how to fly this thing? Am I a good man? 
        All thirteen! All thirteen! I just have one question… do you know how to fly this thing?</span>
</div>