@{
    ViewBag.Title = "Index";
}

<h2>Work</h2>
<div class="workpage">
    <div class ="work1">
        <img class="img" src="http://tinyurl.com/qeemlqf" />
        <span>Work Sample 1</span>
    </div>
    <div class="work2">
        <img class="img" src="http://tinyurl.com/qeemlqf" />
        <span>Work Sample 2</span>
    </div>
    <div class="work3">
        <img class="img" src="http://tinyurl.com/qeemlqf" />
        <span>Work Sample 3</span>
    </div>
    <div class="work4">
        <img class="img" src="http://tinyurl.com/qeemlqf" />
        <span>Work Sample 4</span>
    </div>
    
</div>
