@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <span>I'd call you a genius, except I'm in the room. Goodbye... Fancypants! Oh, for God's sake! Gallfrey stands! Good grief.... It's a Stegosaurus! 
          I just have one question… do you know how to fly this thing? Jo, look. That's Skaro. Allons-y! The least important things, sometimes my dear boy,
          lead to the greatest discoveries. Planets come and go. Stars perish. Matter disperses, coalesces, forms into other patterns, other worlds. Nothing
          can be eternal. All thirteen! All thirteen! No idea. Just do what I do: hold tight and pretend it's a plan.

    </span>

    <span>Well, I'll tell you something that should be of vital interest to you.…That you, Sir, are a NITWIT! I am not a student of human nature. I am a professor 
          of a far wider academy of which human nature is merely a part. Oh, I always rip out the last page of a book. Then it doesn't have to end. I hate endings! 
          Two wrongs don't make a left turn. Jo, did you fail Latin as well as science? I just have one question… do you know how to fly this thing? The thing is, Adam, 
          time travel is like visiting Paris. You can't just read the guidebook, you've got to throw yourself in! Eat the food, use the wrong verbs, get charged double 
          and end up kissing complete strangers! Or is that just me?
    </span>

    <span>Your species has the most amazing capacity for self-deception, matched only by its ingenuity when trying to destroy itself. Every great decision creates ripples. 
          Like a huge boulder dropping in a lake. The ripples merge and rebound off the banks in unforseeable ways. The heavier the decision, the larger the waves, the more 
          uncertain the consequences. A knight of the GRAND ORDER OF OBERON! Only I would be stupid enough to attack such a person! We're fallin' through space, you and me, 
          clinging to the skin of this tiny little world, and if we let go...The world's about to end, and here I am, stuck in traffic. Goodbye... Fancypants! Let's go in! What?
          What?! WHAT?! Eh? Doctor who? What's he talking about…? Adric? Would you like a jelly baby? Are these antiques dotted about all over the building? It really is a splendid 
          piece of audioarchitectonicalmetrasynchosity! Why can't you leave me alone?! 'Timey' what? 'Timey wimey'? Well Kangs, I must say, there's no place like home... and this is 
          no place like home. We all have a universe of our own terrors to face.
    </span>
</div>