@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="tab">
    <nav>
           <ul class="tabset">
                <li class="active">
                    <a data-id="who">
                        Who
                    </a>
                </li>
               <li class="active">
                    <a data-id="what">
                        What
                    </a>
               </li>
               <li class="active">
                   <a data-id="why">
                        Why
                    </a>
               </li>
               <li class="active">
                   <a data-id="How">
                        How
                    </a>
               </li>
               <li class="active">
                   <a data-id="where">
                        Where
                    </a>
               </li>
            </ul>
    </nav>
</div>

<div class="tab-content">
    <div id="who" class="tab-data">
        <h2>Who?</h2>
        <p>Test</p>
    </div>
    <div id="what" class="tab-data hide">
        <h2>What?</h2>
        <p>Test</p>
    </div>
    <div id="why" class="tab-data hide">
        <h2>Why?</h2>
        <p>Test</p>
    </div>
    <div id="how" class="tab-data hide">
        <h2>How?</h2>
        <p>Test</p>
    </div>
    <div id="where" class="tab-data hide">
        <h2>Where?</h2>
        <p>Test</p>
    </div>
</div>