@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="tab">
    <nav>
           <ul class="tabset">
                <li class="active">
                    <a data-id="who">
                        Who
                    </a>
                </li>
               <li>
                    <a data-id="what">
                        What
                    </a>
               </li>
               <li>
                   <a data-id="why">
                        Why
                    </a>
               </li>
               <li>
                   <a data-id="How">
                        How
                    </a>
               </li>
               <li>
                   <a data-id="where">
                        Where
                    </a>
               </li>
            </ul>
    </nav>
</div>

<div class="tab-content">
    <div id="who" class="tab-data">
        <h2>Who?</h2>
        <p>You know Jo, I sometimes think that military intelligence is a contradiction in terms. People who talk about infallibility are usually on very shaky ground. An unintelligent enemy is far less dangerous than an intelligent one…. Kidneys! I have kidneys. And I don't like the colour. What? What?! WHAT?! I don't have a future. I don't want to go. An old friend of mine. Well, enemy. The stuff of nightmares reduced to an exhibit. I'm getting old. I've made many mistakes... and it's about time that I did something about that.

Low tech? Grace, this is a type 40 TARDIS, able to take you to any planet in the universe and to any date in that planet's existence. Temporal physics. Our lives are different from anybody else’s. That’s the exciting thing. Nobody in the universe can do what we’re doing. Goodbye... Fancypants! Safety precaution. I'm allergic to certain gases in the praxis range of the spectrum. If the gas is present, the celery turns purple… I eat the celery. If nothing else, I'm sure it's good for my teeth. Kidneys! I have kidneys. And I don't like the colour.

Subject for catalogue: file under 'imagination, comma, lack of'. The world's about to end, and here I am, stuck in traffic. We're trying to defeat the Daleks, not start a jumble sale! Renewed? Have I? That's it, I've been renewed. It's part of the TARDIS. Without it I couldn't survive. Kidneys! I have kidneys. And I don't like the colour. A straight line may be the shortest distance between two points, but it is by no means the most interesting. Are you capable of speaking without flapping your hands about?

The trouble with computers, of course, is that they're very sophisticated idiots. They do exactly what you tell them at amazing speed. Even if you order them to kill you. So if you do happen to change your mind, it's very difficult to stop them from obeying the original order. But not impossible. I'm the Doctor, I can save the world with a kettle and some string! And look! I'm wearing a vegetable! And I'm looking for a blonde in a Union Jack. A specific one, mind, I didn't just wake up this morning with a craving.

Nine hundred years of time and space, and I've never been slapped by someone's mother. Now would you stand aside before I shoot myself? Obviously the Time Lords have programmed the TARDIS always to return to Earth. It seems that I am some kind of a galactic yo-yo! Do you wanna come with me? 'Cause if you do, then I should warn you — you're gonna see all sorts of things. Ghosts from the past. Aliens from the future. The day the Earth died in a ball of flame. It won't be quiet, it won't be safe, and it won't be calm. But I'll tell you what it will be: The trip of a lifetime!

You can always judge a man by the quality of his enemies. River, you know my name. You whispered my name in my ear! There's only one reason I would ever tell anyone my name. There's only one time I could... Smith. Doctor John Smith. Rest is for the weary, sleep is for the dead. I feel like a hungry man eager for the feast! Physician, heal thyself. Dreams are important…never underestimate them. For some people, small, beautiful events are what life is all about! Goodbye... Fancypants! You know Jo, I sometimes think that military intelligence is a contradiction in terms.

Oh, for God's sake! Gallfrey stands! I reversed the polarity of the neutron flow. Why can't you leave me alone?! Oh my word! You don't understand so you find excuses. I've reversed the polarity of the Neutron flow, so the TARDIS should be free from the force field now. I just have one question… do you know how to fly this thing? Butterfingers. You know Jo, I sometimes think that military intelligence is a contradiction in terms. The Time Lords are an immensely civilised race. We can control our own environment - we can live forever, barring accidents, and we have the secret of space/time travel.</p>
    </div>
    <div id="what" class="tab-data hide">
        <h2>What?</h2>
        <p>You know Jo, I sometimes think that military intelligence is a contradiction in terms. People who talk about infallibility are usually on very shaky ground. An unintelligent enemy is far less dangerous than an intelligent one…. Kidneys! I have kidneys. And I don't like the colour. What? What?! WHAT?! I don't have a future. I don't want to go. An old friend of mine. Well, enemy. The stuff of nightmares reduced to an exhibit. I'm getting old. I've made many mistakes... and it's about time that I did something about that.

Low tech? Grace, this is a type 40 TARDIS, able to take you to any planet in the universe and to any date in that planet's existence. Temporal physics. Our lives are different from anybody else’s. That’s the exciting thing. Nobody in the universe can do what we’re doing. Goodbye... Fancypants! Safety precaution. I'm allergic to certain gases in the praxis range of the spectrum. If the gas is present, the celery turns purple… I eat the celery. If nothing else, I'm sure it's good for my teeth. Kidneys! I have kidneys. And I don't like the colour.

Subject for catalogue: file under 'imagination, comma, lack of'. The world's about to end, and here I am, stuck in traffic. We're trying to defeat the Daleks, not start a jumble sale! Renewed? Have I? That's it, I've been renewed. It's part of the TARDIS. Without it I couldn't survive. Kidneys! I have kidneys. And I don't like the colour. A straight line may be the shortest distance between two points, but it is by no means the most interesting. Are you capable of speaking without flapping your hands about?

The trouble with computers, of course, is that they're very sophisticated idiots. They do exactly what you tell them at amazing speed. Even if you order them to kill you. So if you do happen to change your mind, it's very difficult to stop them from obeying the original order. But not impossible. I'm the Doctor, I can save the world with a kettle and some string! And look! I'm wearing a vegetable! And I'm looking for a blonde in a Union Jack. A specific one, mind, I didn't just wake up this morning with a craving.

Nine hundred years of time and space, and I've never been slapped by someone's mother. Now would you stand aside before I shoot myself? Obviously the Time Lords have programmed the TARDIS always to return to Earth. It seems that I am some kind of a galactic yo-yo! Do you wanna come with me? 'Cause if you do, then I should warn you — you're gonna see all sorts of things. Ghosts from the past. Aliens from the future. The day the Earth died in a ball of flame. It won't be quiet, it won't be safe, and it won't be calm. But I'll tell you what it will be: The trip of a lifetime!

You can always judge a man by the quality of his enemies. River, you know my name. You whispered my name in my ear! There's only one reason I would ever tell anyone my name. There's only one time I could... Smith. Doctor John Smith. Rest is for the weary, sleep is for the dead. I feel like a hungry man eager for the feast! Physician, heal thyself. Dreams are important…never underestimate them. For some people, small, beautiful events are what life is all about! Goodbye... Fancypants! You know Jo, I sometimes think that military intelligence is a contradiction in terms.

Oh, for God's sake! Gallfrey stands! I reversed the polarity of the neutron flow. Why can't you leave me alone?! Oh my word! You don't understand so you find excuses. I've reversed the polarity of the Neutron flow, so the TARDIS should be free from the force field now. I just have one question… do you know how to fly this thing? Butterfingers. You know Jo, I sometimes think that military intelligence is a contradiction in terms. The Time Lords are an immensely civilised race. We can control our own environment - we can live forever, barring accidents, and we have the secret of space/time travel.</p>
    </div>
    <div id="why" class="tab-data hide">
        <h2>Why?</h2>
        <p>You know Jo, I sometimes think that military intelligence is a contradiction in terms. People who talk about infallibility are usually on very shaky ground. An unintelligent enemy is far less dangerous than an intelligent one…. Kidneys! I have kidneys. And I don't like the colour. What? What?! WHAT?! I don't have a future. I don't want to go. An old friend of mine. Well, enemy. The stuff of nightmares reduced to an exhibit. I'm getting old. I've made many mistakes... and it's about time that I did something about that.

Low tech? Grace, this is a type 40 TARDIS, able to take you to any planet in the universe and to any date in that planet's existence. Temporal physics. Our lives are different from anybody else’s. That’s the exciting thing. Nobody in the universe can do what we’re doing. Goodbye... Fancypants! Safety precaution. I'm allergic to certain gases in the praxis range of the spectrum. If the gas is present, the celery turns purple… I eat the celery. If nothing else, I'm sure it's good for my teeth. Kidneys! I have kidneys. And I don't like the colour.

Subject for catalogue: file under 'imagination, comma, lack of'. The world's about to end, and here I am, stuck in traffic. We're trying to defeat the Daleks, not start a jumble sale! Renewed? Have I? That's it, I've been renewed. It's part of the TARDIS. Without it I couldn't survive. Kidneys! I have kidneys. And I don't like the colour. A straight line may be the shortest distance between two points, but it is by no means the most interesting. Are you capable of speaking without flapping your hands about?

The trouble with computers, of course, is that they're very sophisticated idiots. They do exactly what you tell them at amazing speed. Even if you order them to kill you. So if you do happen to change your mind, it's very difficult to stop them from obeying the original order. But not impossible. I'm the Doctor, I can save the world with a kettle and some string! And look! I'm wearing a vegetable! And I'm looking for a blonde in a Union Jack. A specific one, mind, I didn't just wake up this morning with a craving.

Nine hundred years of time and space, and I've never been slapped by someone's mother. Now would you stand aside before I shoot myself? Obviously the Time Lords have programmed the TARDIS always to return to Earth. It seems that I am some kind of a galactic yo-yo! Do you wanna come with me? 'Cause if you do, then I should warn you — you're gonna see all sorts of things. Ghosts from the past. Aliens from the future. The day the Earth died in a ball of flame. It won't be quiet, it won't be safe, and it won't be calm. But I'll tell you what it will be: The trip of a lifetime!

You can always judge a man by the quality of his enemies. River, you know my name. You whispered my name in my ear! There's only one reason I would ever tell anyone my name. There's only one time I could... Smith. Doctor John Smith. Rest is for the weary, sleep is for the dead. I feel like a hungry man eager for the feast! Physician, heal thyself. Dreams are important…never underestimate them. For some people, small, beautiful events are what life is all about! Goodbye... Fancypants! You know Jo, I sometimes think that military intelligence is a contradiction in terms.

Oh, for God's sake! Gallfrey stands! I reversed the polarity of the neutron flow. Why can't you leave me alone?! Oh my word! You don't understand so you find excuses. I've reversed the polarity of the Neutron flow, so the TARDIS should be free from the force field now. I just have one question… do you know how to fly this thing? Butterfingers. You know Jo, I sometimes think that military intelligence is a contradiction in terms. The Time Lords are an immensely civilised race. We can control our own environment - we can live forever, barring accidents, and we have the secret of space/time travel.</p>
    </div>
    <div id="how" class="tab-data hide">
        <h2>How?</h2>
        <p>You know Jo, I sometimes think that military intelligence is a contradiction in terms. People who talk about infallibility are usually on very shaky ground. An unintelligent enemy is far less dangerous than an intelligent one…. Kidneys! I have kidneys. And I don't like the colour. What? What?! WHAT?! I don't have a future. I don't want to go. An old friend of mine. Well, enemy. The stuff of nightmares reduced to an exhibit. I'm getting old. I've made many mistakes... and it's about time that I did something about that.

Low tech? Grace, this is a type 40 TARDIS, able to take you to any planet in the universe and to any date in that planet's existence. Temporal physics. Our lives are different from anybody else’s. That’s the exciting thing. Nobody in the universe can do what we’re doing. Goodbye... Fancypants! Safety precaution. I'm allergic to certain gases in the praxis range of the spectrum. If the gas is present, the celery turns purple… I eat the celery. If nothing else, I'm sure it's good for my teeth. Kidneys! I have kidneys. And I don't like the colour.

Subject for catalogue: file under 'imagination, comma, lack of'. The world's about to end, and here I am, stuck in traffic. We're trying to defeat the Daleks, not start a jumble sale! Renewed? Have I? That's it, I've been renewed. It's part of the TARDIS. Without it I couldn't survive. Kidneys! I have kidneys. And I don't like the colour. A straight line may be the shortest distance between two points, but it is by no means the most interesting. Are you capable of speaking without flapping your hands about?

The trouble with computers, of course, is that they're very sophisticated idiots. They do exactly what you tell them at amazing speed. Even if you order them to kill you. So if you do happen to change your mind, it's very difficult to stop them from obeying the original order. But not impossible. I'm the Doctor, I can save the world with a kettle and some string! And look! I'm wearing a vegetable! And I'm looking for a blonde in a Union Jack. A specific one, mind, I didn't just wake up this morning with a craving.

Nine hundred years of time and space, and I've never been slapped by someone's mother. Now would you stand aside before I shoot myself? Obviously the Time Lords have programmed the TARDIS always to return to Earth. It seems that I am some kind of a galactic yo-yo! Do you wanna come with me? 'Cause if you do, then I should warn you — you're gonna see all sorts of things. Ghosts from the past. Aliens from the future. The day the Earth died in a ball of flame. It won't be quiet, it won't be safe, and it won't be calm. But I'll tell you what it will be: The trip of a lifetime!

You can always judge a man by the quality of his enemies. River, you know my name. You whispered my name in my ear! There's only one reason I would ever tell anyone my name. There's only one time I could... Smith. Doctor John Smith. Rest is for the weary, sleep is for the dead. I feel like a hungry man eager for the feast! Physician, heal thyself. Dreams are important…never underestimate them. For some people, small, beautiful events are what life is all about! Goodbye... Fancypants! You know Jo, I sometimes think that military intelligence is a contradiction in terms.

Oh, for God's sake! Gallfrey stands! I reversed the polarity of the neutron flow. Why can't you leave me alone?! Oh my word! You don't understand so you find excuses. I've reversed the polarity of the Neutron flow, so the TARDIS should be free from the force field now. I just have one question… do you know how to fly this thing? Butterfingers. You know Jo, I sometimes think that military intelligence is a contradiction in terms. The Time Lords are an immensely civilised race. We can control our own environment - we can live forever, barring accidents, and we have the secret of space/time travel.</p>
    </div>
    <div id="where" class="tab-data hide">
        <h2>Where?</h2>
        <p>You know Jo, I sometimes think that military intelligence is a contradiction in terms. People who talk about infallibility are usually on very shaky ground. An unintelligent enemy is far less dangerous than an intelligent one…. Kidneys! I have kidneys. And I don't like the colour. What? What?! WHAT?! I don't have a future. I don't want to go. An old friend of mine. Well, enemy. The stuff of nightmares reduced to an exhibit. I'm getting old. I've made many mistakes... and it's about time that I did something about that.

Low tech? Grace, this is a type 40 TARDIS, able to take you to any planet in the universe and to any date in that planet's existence. Temporal physics. Our lives are different from anybody else’s. That’s the exciting thing. Nobody in the universe can do what we’re doing. Goodbye... Fancypants! Safety precaution. I'm allergic to certain gases in the praxis range of the spectrum. If the gas is present, the celery turns purple… I eat the celery. If nothing else, I'm sure it's good for my teeth. Kidneys! I have kidneys. And I don't like the colour.

Subject for catalogue: file under 'imagination, comma, lack of'. The world's about to end, and here I am, stuck in traffic. We're trying to defeat the Daleks, not start a jumble sale! Renewed? Have I? That's it, I've been renewed. It's part of the TARDIS. Without it I couldn't survive. Kidneys! I have kidneys. And I don't like the colour. A straight line may be the shortest distance between two points, but it is by no means the most interesting. Are you capable of speaking without flapping your hands about?

The trouble with computers, of course, is that they're very sophisticated idiots. They do exactly what you tell them at amazing speed. Even if you order them to kill you. So if you do happen to change your mind, it's very difficult to stop them from obeying the original order. But not impossible. I'm the Doctor, I can save the world with a kettle and some string! And look! I'm wearing a vegetable! And I'm looking for a blonde in a Union Jack. A specific one, mind, I didn't just wake up this morning with a craving.

Nine hundred years of time and space, and I've never been slapped by someone's mother. Now would you stand aside before I shoot myself? Obviously the Time Lords have programmed the TARDIS always to return to Earth. It seems that I am some kind of a galactic yo-yo! Do you wanna come with me? 'Cause if you do, then I should warn you — you're gonna see all sorts of things. Ghosts from the past. Aliens from the future. The day the Earth died in a ball of flame. It won't be quiet, it won't be safe, and it won't be calm. But I'll tell you what it will be: The trip of a lifetime!

You can always judge a man by the quality of his enemies. River, you know my name. You whispered my name in my ear! There's only one reason I would ever tell anyone my name. There's only one time I could... Smith. Doctor John Smith. Rest is for the weary, sleep is for the dead. I feel like a hungry man eager for the feast! Physician, heal thyself. Dreams are important…never underestimate them. For some people, small, beautiful events are what life is all about! Goodbye... Fancypants! You know Jo, I sometimes think that military intelligence is a contradiction in terms.

Oh, for God's sake! Gallfrey stands! I reversed the polarity of the neutron flow. Why can't you leave me alone?! Oh my word! You don't understand so you find excuses. I've reversed the polarity of the Neutron flow, so the TARDIS should be free from the force field now. I just have one question… do you know how to fly this thing? Butterfingers. You know Jo, I sometimes think that military intelligence is a contradiction in terms. The Time Lords are an immensely civilised race. We can control our own environment - we can live forever, barring accidents, and we have the secret of space/time travel.</p>
    </div>
</div>